<div class="container centered"></div>
<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Select Portfolio</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem *ngFor="let p of portfolioList" (click)="selected(p)">{{p.title}}</button>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center " *ngIf = "selectedProfile">
  <div class="card" style="width: 30rem;">
    <img src={{selectedProfile.imageUrl}} class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{selectedProfile.title}} profile</h5>
      <h6 class="card-subtitle mb-2 text-muted">Detail</h6>
      <p class="card-text">{{selectedProfile.description}}</p>
      <div class="card" style="width: 28rem;">
        <div class="card-header">
          Timeline  <a href={{twitterUrl}}{{selectedProfile.twitterUserName}} class="float-right">Go Twitter profile</a>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngIf = "!timeLine"> Error getting timeline</li>
          <li class="list-group-item"  *ngFor="let tl of timeLine">
            <img src={{tl.profileImageURL}} class="card-img-top" style="width: 3rem;">
            {{tl.text}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>